html {
	--fg: #2E2C2F;
	--bg: white;
	--accent: #FF6663;
	--light: grey;
	color: var(--fg);
	background-color: var(--bg);
}

body {
	font-family: 'Be Vietnam Pro', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: var(--fg);
	text-decoration: none;
}

a:hover {
	text-decoration: underline var(--accent);
}

.blogs {
	font-size: 2em;
	margin-top: 2em;
	margin-left: 20%;
	margin-right: 20%;
}

.blogdate {
	color: var(--light);
}
