nav {
	margin-left: 1em;
	margin-right: 1em;
	color: var(--fg);
	background-color: var(--bg);
	margin-top: 0.5em;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: var(--accent);
	display: inline-block;
	font-size: 1.1em;
	font-family: 'Abril Fatface', cursive;
}

.logo:hover {
        text-decoration: underline var(--fg);
}

.nav-links {
        font-size: 0.7em;
	display: flex;
        list-style: none;
}

.nav-item {
	padding-left: 1em;
}

@media all and (max-width: 1000px) {
	nav {
		flex-direction: column;
		font-size: 3em;
		padding-left: auto;
		padding-right: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.nav-links {
		font-size: 80%;
	}
}

@media all and (max-width: 835px) {
    nav {
        font-size: 2.5em;
    }
}

@media all and (max-width: 575px) {
    nav {
        font-size: 2.5em;
    }
}

@media all and (max-width: 500px) {
    nav {
        font-size: 2em;
        padding-left: 0;
        margin-left: 0;
    }
    .nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo {
        font-size: 1.5em;
    }
}
