input {
	border: none;
	font-family: monospace;
	outline: none;
	padding: 10px;
	color: black;
	background-color: white;
	font-size: 1.3em;
}

.highlight {
	font-weight: bold;
}

.metadata {
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

textarea {
	border: none;
	outline: none;
	font-size: 1.5em;
	resize: none;
	height: 50vh;
	padding: 27px;
}

.lower {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 2em;
}

.author {
	font-size: 2em;
}

.date {
	font-size: 2em;
}

::placeholder {
	color: grey
}

#submit {
	color: grey;
}

#submit:hover{
	color: black;
}

@media all and (max-width: 900px) {
	.metadata {
		grid-template-columns: 50% 50%;
	}
}

@media all and (max-width: 650px) {
	.metadata {
		grid-template-columns: 100%;
	}

	input {
		text-align: center;
	}
}
