<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/nav.css">
	</head>
	<nav>
		<a class="logo" href="/">JackBlog</a>
		<ul class="nav-links">
			<li class="nav-item"><a href="/about">About</a></li>
			<li class="nav-item"><a href="/contact">Contact</a></li>
			<li class="nav-item"><a href="/portfolio">Portfolio</a></li>
		</ul>
	</nav>
	<body>
		<ul class="blogs">
			<li><a href="/blogs/">The Quick Brown Fox Jumped Over The Lazy Dog <span class="blogdate">(1/11/22)</span></a></li>
			<li><a href="/blogs/">The Quick Brown Fox Jumped Over The Lazy Dog <span class="blogdate">(1/11/22)</span></a></li>
			<li><a href="/blogs/">The Quick Brown Fox Jumped Over The Lazy Dog <span class="blogdate">(1/11/22)</span></a></li>
			<li><a href="/blogs/">The Quick Brown Fox Jumped Over The Lazy Dog <span class="blogdate">(1/11/22)</span></a></li>
		</ul>
	</body>
</html>
