<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/nav.css">
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/newblog.css">
		<script src="script.js"></script>
	</head>
	<nav>
		<a class="logo" href="/">Jackblog</a>
		<ul class="nav-links">
			<li class="nav-item"><a href="/about">About</a></li>
			<li class="nav-item"><a href="/contact">Contact</a></li>
			<li class="nav-item"><a href="/portfolio">Portfolio</a></li>
		</ul>
	</nav>
	<body>
		<hr>
		<div class="article">
			<form action="/new/">
				<div class="metadata">
					<input name="title" class="title" placeholder="Title"></input>
					<input name="author" class="author" placeholder="Author"></input>
					<input name="date" class="date" placeholder="Date"></input>
					<input type="password" name="password" class="password" placeholder="Authorization"></input>
				</div>
				<div class="lower">
					<textarea id="body" name="body" placeholder="Write about something..."></textarea>
					<input id="submit" type="submit" value="Done">
				</div>
			</form>
		</div>
	</body>
</html>
